.Container{
    padding:50px;
    display: flex;
    flex-direction: column;
}
.title{

    text-align: center;
    color: #B983FF;
    font-weight: bold;
    margin-bottom: 20px;
}
.top{

display: flex;
justify-content: space-between;
margin-bottom: 40px;

}

.tableIcon {
    margin-right: 15px;
    color: #316B83;
    cursor: pointer;
    font-size: 25px;
}

.cardIcon{
    color: #F38BA0;
    cursor: pointer;
    font-size: 25px;
}
.searchicon {
    font-size: 25px;
    color: grey;
    justify-content: flex-end;
}
.search {
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid lightgray;
}
.search > input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
}

table, th {
    color:#316B83
  }

  .deleteIcon{
      color:red;
      margin-right:13px;
      font-size: 20px;
  }
  .editIcon{
    color:#316B83;
    margin-right:13px;
    font-size: 20px; 
  }
  .btn {
    background-color: #316B83;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-radius:50%;
  }
  .btn:hover {
    background-color: #B983FF;
    color: white;
  }
  .iconAdd{
      text-align: center;
      margin-top:40px;
  }